td {
  border: 1px solid black;
  border-spacing: 0px;
  text-align: center;
}
table {
  border-spacing: 0px;
  display: inline-block;
  margin: 15px;
}
div {
  width: 35px;
  height: 35px;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
}
p {
  font-family: 'Commissioner', sans-serif;
}
